<div class="posts-page" ng-cloak>

    <div class="post row" ng-include="'views/partials/post.html'"></div>

    <h3 class="row">Comments</h3>

    <div ng-repeat="comment in comments" class="row post">
        <div class="col-md-12">
            <p>{{ comment.text }}</p>
            <p class="author">posted by
                <a ng-href="/users/{{ comment.creatorUID }}">
                    {{ comment.creator }}
                </a>
				<a ng-href="" ng-click="deleteComment(comment)" ng-show="signedIn() && comment.creatorUID === user.uid">(delete)</a>
            </p>
        </div>
    </div>

    <div class="cmt-form row">
        <div ng-hide="signedIn()">
            <p><a href="/login">Sign in</a> to post a comment</p>
        </div>

        <form ng-show="signedIn()" ng-submit="addComment(commentText)">
            <textarea
                ng-model="commentText"
                placeholder="Post a Comment"
                class="form-control"></textarea><br>
            <input type="submit" value="Post Comment" class="btn btn-primary">
        </form>
    </div>

</div>

<!-- <a href="/"><span class="glyphicon glyphicon-arrow-left"></span> Back to Posts</a>

<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

<hr>

<form ng-submit="submitPost(post)">
	<h4 class="text-muted">Submit a Comment</h4>
	<div class="form-group">
		<label for="comment-name">Name</label>
		<input type="text" ng-model="comment.name" class="form-control" id="comment-name">
	</div>
	<div class="form-group">
		<label for="comment-body">Comment</label>
		<textarea ng-model="comment.body" class="form-control" id="comment-body"></textarea>
	</div>
	<div class="form-group">
		<input type="submit" value="Add Post" class="btn btn-primary">
	</div>
</form> -->